*,
*::before,
*::after {
    transition: all 3s ease-in-out;
    /* margin: 0;
    padding: 0; */
}

body {
    font-family: Arial, sans-serif;
}

.date-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
